@model PizzaOrder.Models.OrderUser

<div class="form-container">
    <div style="padding:1rem;">
        <h2>Your order:</h2>
        @foreach (var item in Model.Pizzas)
        {
            <p>@item.Count x @item.Name</p>
        } 
    </div>  
    @Html.ActionLink("Continue", "Index", new {  id=@User.Claims.Where(x => x.Type == "Id").Select(c => c.Value).SingleOrDefault() }, new { @class = "submit-btn"})  
    <hr />
    @Html.ActionLink("Order more", "Index", new {  id=@User.Claims.Where(x => x.Type == "Id").Select(c => c.Value).SingleOrDefault() }, new { @class = "submit-btn"})
</div>