@using System.Security.Claims

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PizzaOrder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/userLayout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-logo">
                <h1>Pizza</h1>
            </div>
            <div class="header-links">
                <a asp-action="MenuUser" asp-controller="MenuUser">Menu</a>
                <a asp-action="AddressUser" asp-controller="AddressUser">Address</a>
                @Html.ActionLink("Profile", "Index", "Profile", new {  id=@User.Claims.Where(x => x.Type == "Id").Select(c => c.Value).SingleOrDefault() })
                <form asp-controller = "Account" asp-action="LogOut" asp-route-area=""> 
                    <input type = "submit" value = "Log out" class="logout-btn"/> 
                </form> 
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer>
        <div>
            <p style="font-size:18px;">Phone number: 222 333 444<br />Email: pizza@oder.com</p>
        </div>
        <div>
            <a href="https://github.com/DenD25">https://github.com/DenD25</a>
        </div>
        <div class="footer-icons">
            <a class="icons"><img src="~/images/icons/facebook.png" /></a>
            <a class="icons"><img src="~/images/icons/instagram.png" /></a>
            <a class="icons"><img src="~/images/icons/messenger.png" /></a>
            <a class="icons"><img src="~/images/icons/maps-and-flags.png" /></a>          
        </div>
    </footer>
</body>
</html>
