<div class="form-container" style="margin-top: 4rem">
    <h2 class="form-title">Contact with us:</h2>
    <p class="p20 form-title">City: Warsaw<br />Address: Gdanska 1, 80-003</p>
    <h3 class="form-title">or</h3>
    <p class="p20 form-title">Phone number: 222 333 444</p>
    <h3 class="form-title">or</h3>
    <p class="p20 form-title">Email: pizza@oder.com</p>
    <a class="submit-btn" asp-action="Index" asp-controller="Main">Return</a>
</div>