<div class="form-container">
    <div class="form-title">
        <h2>Congratulation</h2>
    </div>
    <div class="form-title">
        <p>Your order has been accepted :)</p>
    </div>  
    <a class="submit-btn" asp-action="Index" asp-controller="Main">Return</a>
</div>
