<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PizzaOrder</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/managerLayout.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="header-container">
            <div class="header-logo">
                <h1>Pizza</h1>
            </div>
            <div class="header-links" style="justify-content:flex-end;">
                <form asp-controller = "Account" asp-action="LogOut" asp-route-area=""> 
                    <input type = "submit" value = "Log out" class="logout-btn"/> 
                </form> 
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>
    <footer class="flex">
        <div>
            <a href="https://github.com/DenD25">https://github.com/DenD25</a>
        </div>
    </footer>
</body>
</html>
